main {
  min-height: calc(100vh - 120px - 56px);
}

/* ADMIN PAGE */
.admin-page {
  min-height: calc(100vh - 120px - 56px);
}

/* LOADING PAGE */
.float-block {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
}

.float-block .title-loader {
  margin-top: 25px;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.float-block > .loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #333;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PANEL ADMIN */

.menu-admin {
  height: calc(100vh - 120px - 56px);
  max-width: 300px;
  min-width: 200px;
  float: right;
  transform: translateX(70%);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-admin.active {
  transform: translateX(0);
}

.button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 52px;
}

.button-menu > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.button-menu > div > span {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #333;
  background-color: #333;
}

.button-menu > div:hover > span {
  border-bottom: 2px solid #333;
  opacity: 0.7;
}

.button-menu > div > span:nth-of-type(1) {
  top: 0;
}
.button-menu > div > span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.button-menu > div > span:nth-of-type(3) {
  bottom: 0;
}

.button-menu > div.active {
  margin-left: 10px;
}

.button-menu > div.active > span:nth-of-type(1) {
  transform-origin: 0;
  transform: rotate(45deg);
}
.button-menu > div.active > span:nth-of-type(2) {
  opacity: 0;
}
.button-menu > div.active > span:nth-of-type(3) {
  transform-origin: 0;
  transform: rotate(-45deg);
}

.menu-admin span[data-icon] {
  opacity: 1;
  transition: 0.2s;
}

.menu-admin span[data-text] {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
}

.menu-admin span[data-icon].hidden {
  opacity: 0;
}

.menu-admin span[data-text].hidden {
  opacity: 0;
  transform: translateX(100%);
}

.table-users {
  width: 300px;
  border: 2px solid #333;
}

.table-users td,
.table-users th {
  border: 1px solid #333;
}

.table-users th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px 10px;
}

.table-users td {
  padding: 5px 0px;
}
